<!-- Example metadata.html -->
<x-meta id="uvalib-catalog" label="UVa Library Catalog" group="UVa Library Web Components">

  <template>
    <uvalib-catalog></uvalib-catalog>
  </template>

  <property name="inclusiveFacets"
            kind="JSON">
  </property>

  <property name="titleQuery"
            kind="string">
  </property>

  <property name="auto"
            kind="boolean">
  </property>

  <property name="query"
            kind="string">
  </property>

  <property name="count"
            kind="range" min="5" max="100" step="5" defaultValue="10">
  </property>

  <property name="page"
            kind="number">
  </property>

  

  <template id="imports">
    <link rel="import" href="uvalib-catalog.html">
  </template>

</x-meta>